@model Web_Quản_lý_sách_trong_thư_viện.Models.ThanhToan

<h2>Xác Nhận Xóa</h2>
<h4>Bạn có chắc chắn muốn xóa thanh toán này không?</h4>
<div>
    <h5>@Model.KhachHang.HoTen - @Model.SoTien</h5>
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MaThanhToan)
    <button type="submit" class="btn btn-danger">Xóa</button>
    @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default" })
}
